body {
  background: #FFF !important;
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
  font-weight: 300;
}

/* COMPONENTS */

/* Links */
ul.links {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

ul.links li {
  float: left;
  padding: 0 .5rem;
}

.front-title {
  background: linear-gradient(to right, #007bff, #2e89ea)
}

.front-title h1{
  color: #FFF;
  padding: 2rem 0;
}

.front-title .icon {
  display: flex;
  align-items: center !important;
  justify-content: flex-end !important;
  text-align: right;
}
.front-title .icon img {
  max-height: 100px;
  opacity: .05;
  text-align: left;
}

.btn.btn-lg {
  padding: .5rem 1.5rem
}


/* SECTIONS */

/* Header */
header {
  padding: 2rem 0;
  background-color: #FFF;
  z-index: 100;
  position: relative;
}

header ul.links li{
  color: red;
}

header ul.links li a{
  color: red;
}

.bs1 {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  height: 700px;
  width: 700px;
  background-size: cover;
  background-image: url('../images/bs1.png');
}

.bs2 {
  position: absolute;
  z-index: 0;
  background-size: cover;
  background-image: url('../images/bs2.png');
  animation: left2right 10s linear 0s infinite;
}

.bs3 {
  position: absolute;
  z-index: 100;
  background-size: cover;
  background-image: url('../images/bs2.png');
}

.bs4 {
  position: absolute;
  z-index: 0;
  background-size: cover;
  background-image: url('../images/bs2.png');
}

@keyframes left2right {
  0% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transform: translateX(60px); }
  100% {
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

/* Banner */

main.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  padding: 3rem 0;
  min-height: 750px;
}

main.banner h1 {
  font-size: 38px;
  font-weight: 300;
}

main.banner p {
  font-size: 20px;
  font-weight: 300;
}

/* Footer */

footer {
  clear: both;
  background: #F4F4F4;
  text-align: center;
}

footer ul.links {
  padding: 1rem 0;
}

footer ul.links li a {
  padding: 0 .5rem;
}

footer ul.links li a {
  color: #b1b1b1
}

footer .copyright ul.links li a {
  color: #5a6169
}

footer .copyright {
  text-align: left;
}

/* OVERWITES */
.react-datepicker-manager,
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.btn-outline-light {
  border-color: #8a8e92 !important;
}


/* RESPONSIVE */
@media (max-width: 575.98px) {
  main.banner {
    min-height: auto;
    padding: 1rem 0 2rem 0;
  }

  .bs1,
  .bs2,
  .bs3,
  .bs4 {
    display: none;
  }

  footer ul.links li {
    width: 100%;
    padding: .5rem 0;
  }

  footer .copyright{
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  main.banner {
    min-height: auto;
    padding: 1rem 0 2rem 0;
  }

  .bs1,
  .bs2,
  .bs3,
  .bs4 {
    display: none;
  }

  footer ul.links li {
    width: 100%;
    padding: .5rem 0;
  }

  footer .copyright{
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  main.banner {
    min-height: auto;
    padding: 1rem 0 2rem 0;
  }
  .bs1,
  .bs2,
  .bs3,
  .bs4 {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
  main.banner {
    min-height: 540px;
  }

  .bs1,
  .bs2,
  .bs3,
  .bs4 {
    display: block;
  }

  .bs1 {
    width: 500px;
    height: 500px;
  }

  .bs2 {
    width: 100px;
    height: 100px;
    left: 10px;
    top: -120px;
  }

  .bs3 {
    top: -230px;
    left: 450px;
    height: 60px;
    width: 60px;
  }

  .bs4 {
    top: 200px;
    left: 450px;
    height: 90px;
    width: 90px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main.banner {
    min-height: 740px;
  }

  .bs1,
  .bs2,
  .bs3,
  .bs4 {
    display: block;
  }

  .bs2 {
    width: 140px;
    height: 140px;
    left: 10px;
    top: -160px;
  }

  .bs3 {
    top: -300px;
    left: 600px;
    height: 70px;
    width: 70px;
  }

  .bs4 {
    top: 300px;
    left: 550px;
    height: 110px;
    width: 110px;
  }
}
